// BEGIN-SNIPPET buttons_btn-expanded
  <button type="button" class="v2v-btn v2v-btn-primary v2v-btn-sm v2v-btn-expanded">Expanded button</button>
  <button type="button" class="v2v-btn v2v-btn-primary v2v-btn-expanded">Expanded button</button>
  <button type="button" class="v2v-btn v2v-btn-primary v2v-btn-lg v2v-btn-expanded">Expanded button</button>
// END-SNIPPET