// BEGIN-SNIPPET buttons_btn-outline
  <button type="button" class="v2v-btn v2v-btn-outline-primary">Outline button</button>
  <button type="button" class="v2v-btn v2v-btn-outline-secondary">Outline button</button>
// END-SNIPPET