// BEGIN-SNIPPET buttons_btn-sm
  <button type="button" class="v2v-btn v2v-btn-primary v2v-btn-sm">Small button</button>
  <button type="button" class="v2v-btn v2v-btn-secondary v2v-btn-sm">Small button</button>
// END-SNIPPET