// BEGIN-SNIPPET buttons_btn-md
  <button type="button" class="v2v-btn v2v-btn-primary v2v-btn-md">Medium button</button>
  <button type="button" class="v2v-btn v2v-btn-secondary v2v-btn-md">Medium button</button>
// END-SNIPPET