// BEGIN-SNIPPET buttons_btn-rounded
  <button type="button" class="v2v-btn v2v-btn-primary v2v-btn-rounded">D</button>
  <button type="button" class="v2v-btn v2v-btn-secondary v2v-btn-rounded">D</button>

  <button type="button" class="v2v-btn v2v-btn-primary v2v-btn-xs-rounded">X</button>
  <button type="button" class="v2v-btn v2v-btn-secondary v2v-btn-xs-rounded">X</button>

  <button type="button" class="v2v-btn v2v-btn-primary v2v-btn-sm-rounded">S</button>
  <button type="button" class="v2v-btn v2v-btn-secondary v2v-btn-sm-rounded">S</button>

  <button type="button" class="v2v-btn v2v-btn-primary v2v-btn-md-rounded">M</button>
  <button type="button" class="v2v-btn v2v-btn-secondary v2v-btn-md-rounded">M</button>
// END-SNIPPET