// BEGIN-SNIPPET buttons_btn-xs
  <button type="button" class="v2v-btn v2v-btn-primary v2v-btn-xs">Extra Small button</button>
  <button type="button" class="v2v-btn v2v-btn-secondary v2v-btn-xs">Extra Small button</button>
// END-SNIPPET