// BEGIN-SNIPPET components_section-title-extra
  <SectionTitle
    @text="Exemplo 6"
    @themes="primary font-thin font-lg truncate"
  >
    <span class="components_extra">Extra</span>
  </SectionTitle>
// END-SNIPPET