// BEGIN-SNIPPET typography_font-size
  $font-size-huge-x: 1.875rem; // 26px - 30px
  $font-size-huge: 1.500rem; // 21px - 24px
  $font-size-large: 1.250rem; // 17px - 20px
  $font-size-medium: 1.125rem; // 15px - 18px
  $font-size-default: 1rem; // 14px - 16px
  $font-size-small: 0.875rem; // 12px - 14px
  $font-size-tiny: 0.750rem; // 10px - 12px
  $font-size-minute: 0.625rem; // 8px - 10px
// END-SNIPPET