.v2v-btn {
  display: inline-flex;
  align-content: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 0;
  line-height: 1.5;
  border: 1px solid transparent;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: 400;
  font-family: inherit;
  vertical-align: middle;
  letter-spacing: normal;
  padding: 6px 12px;
  margin: 0;
  user-select: none;
  outline: none;
  box-shadow: none;
  white-space: nowrap;
  cursor: pointer;
  overflow: visible;

  &-rounded {
    padding: 0;
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }
  &-xs {
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 4px;

    &-rounded {
      font-size: 8px;
      padding: 0;
      border-radius: 50%;
      width: 16px;
      height: 16px;
    }
  }
  &-sm {
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 6px;

    &-rounded {
      font-size: 10px;
      padding: 0;
      border-radius: 50%;
      width: 20px;
      height: 20px;
    }
  }
  &-md {
    font-size: 18px;
    padding: 8px 16px;

    &-rounded {
      font-size: 12px;
      padding: 0;
      border-radius: 50%;
      width: 24px;
      height: 24px;
    }
  }
  &-lg {
    font-size: 18px;
    padding: 12px 20px;

    &-rounded {
      font-size: 12px;
      padding: 0;
      border-radius: 50%;
      width: 24px;
      height: 24px;
    }
  }
  &-primary {
    background-color: $color-primary;
    color: #fff;
    border-color: $color-primary;

    &:hover {
      color: #fff;
    }
  }
  &-secondary {
    background-color: $color-secondary;
    color: #fff;
    border-color: $color-secondary;

    &:hover {
      color: #fff;
    }
  }
  &-grey-dark {
    background-color: $grey-dark;
    color: #fff;
    border-color: $grey-dark;

    &:hover {
      color: #fff;
    }
  }
  &-outline-primary {
    background-color: #fff;
    color: $color-primary;
    border-color: $grey-lighter;

    &:hover {
      color: $color-primary;
    }
  }
  &-outline-secondary {
    background-color: #fff;
    color: $color-secondary;
    border-color: $grey-lighter;

    &:hover {
      color: $color-secondary;
    }
  }
}