<SectionTitle
  @text="Cores"
  @themes="primary font-thin font-lg"
/>

<section class="colors">
  <h2 class="heading-2">Cores principais</h2>

  <div class="palette">
    <div class="color">
      <span class="info -name">$color-primary</span>
      <span class="primary"></span>
      <span class="info">#000000</span>
    </div>

    <div class="color">
      <span class="info -name">$color-secodanry</span>
      <span class="secondary"></span>
      <span class="info">#084A8D</span>
    </div>

    <div class="color">
      <span class="info -name">$color-text</span>
      <span class="text"></span>
      <span class="info">#333333</span>
    </div>
  </div>
</section>

<section class="colors">
  <h2 class="heading-2">Paleta de cinza</h2>

  <div class="palette">
    <div class="color">
      <span class="info -name">$grey-lightest</span>
      <span class="lightest"></span>
      <span class="info">#f2f2f2</span>
    </div>

    <div class="color">
      <span class="info -name">$grey-lighter</span>
      <span class="lighter"></span>
      <span class="info">#eaebeb</span>
    </div>

    <div class="color">
      <span class="info -name">$grey-light</span>
      <span class="light"></span>
      <span class="info">#c8c8cd</span>
    </div>

    <div class="color">
      <span class="info -name">$grey-dark</span>
      <span class="dark"></span>
      <span class="info">#999999</span>
    </div>

    <div class="color">
      <span class="info -name">$grey-darker</span>
      <span class="darker"></span>
      <span class="info">#666666</span>
    </div>

    <div class="color">
      <span class="info -name">$grey-darkest</span>
      <span class="darkest"></span>
      <span class="info">#4b4a4a</span>
    </div>
  </div>
</section>