<h1 class="heading-1">Tipografia</h1>

<section class="typography">
  <h2 class="heading-2">font-size</h2>

  <p>V2V usa a fonte padrão <span class="global--code-highlight">$font-size-default</span> com <span class="global--code-highlight">14px</span> para dispositivos menores que <span class="global--code-highlight">900px</span> e <span class="global--code-highlight">16px</span> para dispositivos maiores.</p>

  {{code-snippet name="typography_font-size.scss"}}
</section>

<section class="typography">
  <h2 class="heading-2">font-family</h2>

  <p>Usa-se a família de fonte <span class="global--code-highlight">Lato</span> em todo o projeto.</p>

  {{code-snippet name="typography_font-family.scss"}}
</section>

<section class="typography">
  <h2 class="heading-2">font-weight</h2>

  {{code-snippet name="typography_font-weight.scss"}}
</section>